@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #222222;
}

.main_container {
  max-width: 1500px;
  margin: 0 auto;
}

.air_btn {
  padding: 10px;
  border-radius: 10px;
  background: #ff385c;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.air_btn a {
  color: #fff;
}

header {
  width: 100%;
  height: 100px;
  padding: 20px 0;
}
header .main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .main_container .header_logo {
  padding-bottom: 10px;
}
header .main_container .header_logo svg {
  height: 50px;
  fill: #ff385c;
}
header .main_container .search_bar {
  position: relative;
}
header .main_container .search_bar input {
  width: 300px;
  height: 35px;
  border-radius: 15px;
  border: none;
  text-align: center;
  background: rgba(128, 128, 128, 0.15);
  color: #222222;
  position: relative;
  outline: none;
}
header .main_container .search_bar svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
header .main_container .auth_buttons ul li {
  margin-right: 20px;
  font-weight: bold;
}
header .main_container .auth_buttons .nav_dropdown {
  position: relative;
}
header .main_container .auth_buttons .nav_dropdown .menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(128, 128, 128, 0.15);
  border-radius: 15px;
  padding: 5px 5px 5px 10px;
}
header .main_container .auth_buttons .nav_dropdown .menu_container .circle_user_img {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #222222;
}
header .main_container .auth_buttons .nav_dropdown .dropdown_menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 250px;
  position: absolute;
  right: 0%;
  top: 50px;
  border-radius: 15px;
  padding: 20px 20px 10px 20px;
  border: 1px solid #222222;
  display: none;
}
header .main_container .auth_buttons .nav_dropdown .dropdown_menu.active {
  display: flex;
  background: #fff;
}
header .main_container .auth_buttons .nav_dropdown .dropdown_menu a {
  margin-bottom: 10px;
}
header .main_container .auth_buttons .nav_dropdown .dropdown_menu hr {
  width: 100%;
  margin-bottom: 10px;
}

header.home_header {
  width: 100%;
  height: 100px;
  padding: 20px 0;
  position: absolute;
  z-index: 1;
}
header.home_header a {
  color: #fff;
}
header.home_header .main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.home_header .main_container .header_logo {
  padding-bottom: 10px;
}
header.home_header .main_container .header_logo svg {
  height: 50px;
  fill: #fff;
}
header.home_header .main_container .search_bar {
  position: relative;
}
header.home_header .main_container .search_bar input {
  width: 300px;
  height: 35px;
  border-radius: 15px;
  border: none;
  text-align: center;
  background: rgba(128, 128, 128, 0.15);
  color: #fff;
  font-weight: bold;
  position: relative;
  outline: none;
}
header.home_header .main_container .search_bar ::-moz-placeholder {
  color: #fff;
  font-weight: normal;
}
header.home_header .main_container .search_bar :-ms-input-placeholder {
  color: #fff;
  font-weight: normal;
}
header.home_header .main_container .search_bar ::placeholder {
  color: #fff;
  font-weight: normal;
}
header.home_header .main_container .search_bar svg {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  fill: #fff;
  z-index: 1;
}
header.home_header .main_container .auth_buttons ul li {
  margin-right: 20px;
  font-weight: bold;
}
header.home_header .main_container .auth_buttons .nav_dropdown {
  position: relative;
}
header.home_header .main_container .auth_buttons .nav_dropdown .menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(128, 128, 128, 0.15);
  border-radius: 15px;
  padding: 5px 5px 5px 10px;
}
header.home_header .main_container .auth_buttons .nav_dropdown .menu_container .circle_user_img {
  margin-left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #222222;
}
header.home_header .main_container .auth_buttons .nav_dropdown .dropdown_menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 250px;
  position: absolute;
  right: 0%;
  top: 50px;
  border-radius: 15px;
  padding: 20px 20px 10px 20px;
  border: 1px solid #222222;
}
header.home_header .main_container .auth_buttons .nav_dropdown .dropdown_menu a {
  margin-bottom: 10px;
}
header.home_header .main_container .auth_buttons .nav_dropdown .dropdown_menu hr {
  width: 100%;
  margin-bottom: 10px;
}

main .jumbotron {
  height: 100vh;
  background-image: url("../storage/main_images/home_bg1.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
}
main .jumbotron .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgba(53, 50, 65, 0.5);
  color: #fff;
}
main .jumbotron .overlay .jumb_text {
  margin-left: 100px;
}
main .jumbotron .overlay .jumb_text h1 {
  font-size: 150px;
}
main .jumbotron .overlay .jumb_text h2 {
  font-size: 50px;
}
main .sponsored_apts {
  padding-top: 60px;
}
main .sponsored_apts .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
main .sponsored_apts .title .btn {
  border: 1px solid #222222;
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
}
main .sponsored_apts .apts .box {
  width: 340px;
  height: 640px;
  border: 1px solid #222222;
  border-radius: 20px;
  box-shadow: -2px 5px 10px rgba(53, 50, 65, 0.15);
  position: relative;
}
main .sponsored_apts .apts .box .like_box {
  width: 70px;
  height: 40px;
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  border: 1px solid #222222;
  border-radius: 0px 5px 5px 0;
}
main .sponsored_apts .apts .box .like_box svg {
  transform: scale(150%);
}
main .sponsored_apts .apts .box .apt_text {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
}
main .sponsored_apts .apts .box .apt_text .apt_title {
  font-size: 20px;
  font-weight: bold;
}
main .sponsored_apts .apts .box .apt_text .price_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
main .sponsored_apts .apts .box .apt_text .price_box p {
  width: 50%;
  font-weight: lighter;
  font-size: 12px;
}
main .sponsored_apts .apts .box .apt_text .price_box h3 {
  font-size: 30px;
}
main .sponsored_apts .apt_end {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
main .sponsored_apts .apt_end .arrows .forward {
  transform: rotate(180deg);
  margin-left: 20px;
}
main .cities {
  padding-top: 60px;
}
main .cities .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
main .cities .title .btn {
  border: 1px solid #222222;
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
}
main .cities .cities_box .box {
  width: 450px;
  height: 640px;
  border: 1px solid #222222;
  border-radius: 20px;
  box-shadow: -2px 5px 10px rgba(53, 50, 65, 0.15);
  position: relative;
}
main .cities .cities_box .box .cities_text {
  position: absolute;
  right: -120px;
  top: 50%;
  transform: rotate(-90deg);
}
main .cities .cities_box .box .cities_text h3 {
  font-size: 80px;
}
main .cities .cities_box .box .cities_text p {
  font-size: 30px;
}
main .cities .end_cities {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 40px;
}
main .cities .end_cities .arrows .forward {
  transform: rotate(180deg);
  margin-left: 20px;
}
main .host_cta {
  padding-top: 60px;
  margin-bottom: 80px;
}
main .host_cta .cta_box {
  width: 100%;
  height: 450px;
  background-image: url("../storage/main_images/host-cta.jpg");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-position: 0 -290px;
  border: 1px solid #222222;
  border-radius: 15px;
}
main .host_cta .cta_box .overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(29deg, #1a1a1a 0%, rgba(139, 139, 139, 0.1) 100%);
  border-radius: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .host_cta .cta_box .overlay .box_test {
  color: #fff;
  padding-left: 50px;
}
main .host_cta .cta_box .overlay .box_test h2 {
  font-size: 80px;
}
main .host_cta .cta_box .overlay .box_test p {
  font-size: 30px;
  width: 70%;
}
main .host_cta .cta_box .overlay .box_test .btn {
  border: 1px solid #222222;
  border-radius: 10px;
  padding: 10px 25px;
  cursor: pointer;
  background: #fff;
  color: #222222;
  width: 140px;
  margin-top: 40px;
}
main .back_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
main .back_btn svg {
  transform: scale(80%);
}
main .back_btn a {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
main .main_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
main .main_search .search_box {
  width: 40%;
}
main .main_search .map_box {
  width: 60%;
  height: calc(100vh - 180px);
  border: 1px solid #222222;
}
main .show_user_apt .back_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
main .show_user_apt .back_btn svg {
  transform: scale(80%);
}
main .show_user_apt .back_btn a {
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
main .show_user_apt .main_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .show_user_apt .main_info .img_box {
  width: 70%;
}
main .show_user_apt .main_info .info_box {
  max-width: 30%;
  border-radius: 20px;
  padding: 20px;
  box-shadow: -2px 5px 10px rgba(53, 50, 65, 0.15);
}
main .show_user_apt .main_info .info_box .views {
  color: lightslategrey;
}
main .show_user_apt .main_info .info_box h3 {
  margin-top: 10px;
}
main .show_user_apt .main_info .info_box .rooms {
  color: lightslategrey;
}
main .show_user_apt .main_info .info_box .hosts_box {
  margin: 40px 0;
}
main .show_user_apt .main_info .info_box .hosts_box .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
main .show_user_apt .main_info .info_box .hosts_box .box .selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .show_user_apt .main_info .info_box .hosts_box .box .selector i {
  cursor: pointer;
}
main .show_user_apt .main_info .info_box .hosts_box .box .selector p {
  margin: 0 15px;
}
main .show_user_apt .main_info .info_box .price_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  color: lightslategrey;
}
main .show_user_apt .main_info .info_box .tot_price_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 30px;
}
main .show_user_apt .main_info .info_box .tot_price_box p {
  color: lightslategrey;
}
main .show_user_apt .main_title {
  margin: 30px 0;
}
main .show_user_apt .details .detail_box {
  margin: 30px 0;
}
main .show_user_apt .details .detail_box h3 {
  margin-bottom: 20px;
}
main .show_user_apt .details .detail_box .map_box {
  width: 100%;
  height: 500px;
  border: 1px solid #222222;
  margin-bottom: 20px;
}

footer {
  margin-bottom: 20px;
}
footer .footer_line {
  margin-bottom: 10px;
}
footer .footer_links .site_link ul li {
  margin-right: 15px;
}