footer {
    margin-bottom: 20px;
    .footer_line {
        margin-bottom: 10px;
    }

    .footer_links {
        .site_link {
            ul {
                li {
                    margin-right: 15px;
                }
            }
        }
    }
}
