.jumbotron {
    height: 100vh;
    @include bgImg("../storage/main_images/home_bg2.jpg");
    position: relative;

    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        @include flex(flex-start);
        background: rgba(53, 50, 65, 0.5);
        color: #fff;

        .jumb_text {
            margin-left: 100px;

            h1 {
                font-size: 150px;
            }

            h2 {
                font-size: 50px;
            }
        }
    }
}

.sponsored_apts {
    padding-top: 60px;

    .title {
        @include flex(space-between);
        margin-bottom: 50px;

        h2 {
            color: $mainColor;
            font-size: 30px;
        }

        .btn {
            @include mainBtn;
        }
    }

    .apts {
        .box {
            width: 340px;
            height: 640px;
            border: 1px solid $mainBlack;
            border-radius: 20px;
            box-shadow: -2px 5px 10px rgba(53, 50, 65, 0.15);
            position: relative;

            .like_box {
                width: 70px;
                height: 40px;
                position: absolute;
                top: 20px;
                @include flex(center);
                background: black; //! CAMBIARE
                border: 1px solid $mainBlack;
                border-radius: 0px 5px 5px 0;

                svg {
                    transform: scale(150%);
                }
            }

            .apt_text {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                padding: 10px;

                .apt_title {
                    font-size: 20px;
                    font-weight: bold;
                }

                .price_box {
                    @include flex(space-between);
                    margin-top: 20px;

                    p {
                        width: 50%;
                        font-weight: lighter;
                        font-size: 12px;
                    }

                    h3 {
                        font-size: 30px;
                    }
                }
            }
        }
    }

    .apt_end {
        @include flex(space-between);
        margin-top: 40px;
        padding-bottom: 30px;

        .arrows {
            .forward {
                transform: rotate(180deg);
                margin-left: 20px;
            }
        }
    }
}

.cities {
    padding-top: 60px;

    .title {
        @include flex(space-between);
        margin-bottom: 50px;

        h2 {
            color: $mainColor;
            font-size: 30px;
        }

        .btn {
            @include mainBtn;
        }
    }

    .cities_box {
        @include flex(flex-start);

        .box {
            width: calc(100% / 4 - 20px);
            height: 640px;
            border-radius: 20px;
            box-shadow: -2px 5px 10px rgba(53, 50, 65, 0.15);
            position: relative;
            cursor: pointer;

            &:not(:last-child) {
                margin-right: 30px;
            }

            &.rome {
                background-image: url("https://images.unsplash.com/photo-1529260830199-42c24126f198?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1510&q=80");
                background-size: cover;
                background-position: -530px 0;
                background-repeat: no-repeat;
            }

            &.florence {
                background-image: url("https://images.unsplash.com/photo-1527152272644-1af27a5c00cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
                background-size: cover;
                background-position: -40px 0;
                background-repeat: no-repeat;
            }

            &.milan {
                background-image: url("https://images.unsplash.com/photo-1530284610319-31ee7c55378e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80");
                background-size: cover;
                background-position: -40px 0;
                background-repeat: no-repeat;
            }

            &.naples {
                background-image: url("https://images.unsplash.com/photo-1564863974814-6a7bdc156046?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=752&q=80");
                background-size: cover;
                background-position: -40px 0;
                background-repeat: no-repeat;
            }

            .cities_text {
                transform: rotate(-90deg) translate(-45%, -105%);
                transform-origin: top;
                width: 640px;
                color: #fff;
                text-shadow: 1px 1px $mainBlack;
                position: absolute;
                top: 0;
                left: 0;

                h3 {
                    font-size: 80px;
                }

                p {
                    font-size: 30px;
                }
            }
        }
    }

    .end_cities {
        @include flex(flex-end);
        margin-top: 40px;

        .arrows {
            .forward {
                transform: rotate(180deg);
                margin-left: 20px;
            }
        }
    }
}

.host_cta {
    padding-top: 60px;
    margin-bottom: 80px;

    .cta_box {
        width: 100%;
        height: 450px;
        @include bgImg("../storage/main_images/host-cta.jpg");
        background-position: 0 -290px;
        border-radius: 15px;

        .overlay {
            width: 100%;
            height: 100%;
            background: linear-gradient(
                29deg,
                rgba(26, 26, 26, 1) 0%,
                rgba(139, 139, 139, 0.1) 100%
            );
            border-radius: 15px;
            @include flex(flex-start, center);

            .box_test {
                // flex-direction: column;
                color: #fff;
                padding-left: 50px;

                h2 {
                    font-size: 80px;
                }

                p {
                    font-size: 30px;
                    width: 70%;
                }

                .btn {
                    @include mainBtn;
                    background: #fff;
                    color: $mainBlack;
                    width: 150px;
                    margin-top: 40px;
                }
            }
        }
    }
}
