.show_user_apt {
    .back_btn {
        @include flex(flex-start);
        margin-bottom: 20px;

        svg {
            transform: scale(80%);
        }

        a {
            font-size: 18px;
            font-weight: bold;
            margin-left: 10px;
        }
    }

    .main_info {
        @include flex(space-between);

        .img_box {
            width: 70%;
        }

        .info_box {
            max-width: 30%;
            // @include boxTest;
            border-radius: 20px;
            padding: 20px;
            box-shadow: -2px 5px 10px rgba(53, 50, 65, 0.15);

            .views {
                color: lightslategrey;
            }

            h3 {
                margin-top: 10px;
            }

            .rooms {
                color: lightslategrey;
            }

            .hosts_box {
                margin: 40px 0;
                .box {
                    @include flex(space-between);
                    margin: 15px 0;

                    .selector {
                        @include flex(space-between);

                        i {
                            cursor: pointer;
                        }

                        p {
                            margin: 0 15px;
                        }
                    }
                }
            }

            .price_box {
                @include flex(space-between);
                margin: 10px 0;
                color: lightslategrey;
            }

            .tot_price_box {
                @include flex(space-between);
                margin: 20px 0 30px;

                p {
                    color: lightslategrey;
                }
            }
        }
    }

    .main_title {
        margin: 30px 0;
    }

    .details {
        .detail_box {
            margin: 30px 0;

            h3 {
                margin-bottom: 20px;
            }

            .map_box {
                width: 100%;
                height: 500px;
                @include boxTest;
                margin-bottom: 20px;
            }
        }
    }
}
